*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/*NAVBAR*/
.navbar{
  border-bottom: solid #E9E9E9 2px;
  height:16vh;
}
.emailLink{
  font-size: 18px;
  font-weight: 600;
  margin-right:7px;
}
.profile-avatar{
  margin-right:21px;
}
.avatar{
  width:44px;
  height:44px;
}
.powerOff{
  font-size: 20px;
  color: #929CA1;
  margin-right:11px;
}
.brand-logo{
  margin-left: 10px;
}

/*SIDEBAR*/
.sidebar {
  background: #FFF;
  border: solid #E9E9E9 2px;
  margin-top: 70px;
  padding-top: 200px;
  position: fixed;
  left: 0;
  width: 121px;
  height: 100%;
  margin-top:0;
}

.sidebarHomeHovered{
  border-right: solid #EF2D56 3px;
  color: #EF2D56;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.sidebarHome{
  color: #929CA1;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.sidebarShopHovered{
border-right: solid #EF2D56 3px;
color: #EF2D56;
 display: block;
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.sidebarShop{
  color: #929CA1;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.sidebarContactHovered{
border-right: solid #EF2D56 3px;
color: #EF2D56;
 display: block;
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.sidebarContact{
  color: #929CA1;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

/*TOOLTIP*/
.tooltip .tooltip-inner{
  border-color: #FFFFFF;
  background-color: #FFFFFF;
  color: #929CA1;
  height:145px;
  max-width: 220px;
  width: 220px; 
  align-items:center;
  padding:10px;
  filter: drop-shadow(0 0 14px #00000029);
  position: absolute;
  left:4px;
  top:-78px;
}

.tooltip.show {
    opacity: 1 !important;
} 

.bs-tooltip-auto[x-placement^="right"] span.arrow::before, .bs-tooltip-right .arrow::before { 
  border-right-color: white;
  border-width: 9px 15px 7px;
  position: absolute;
  right:2px;
  top:-8px;  
}

.toolTipItems{
  text-align: left;
  padding:10px;
}

.toolTipItems a{
  display:block;
  color:#929CA1;
  font-size: 14px;
  margin-left:12px;
}

.toolTipItems a:hover {
  color:#EF2D56;
  text-decoration: none;
}

.tooltip-horizontal-line{
  margin:10px 0;
}
